/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --aside_width: 230px;
    --header_height: 80px;
    --footer_height: 80px;
    --aside_color: #000000;
    --header_color: #080b12;
    --main_color: #141922;
    --footer_color: #282828;
    --text_color: #a3a3a3;
    --light_text_color: white;
    --border_color: #aeff2f;
    --border_width: 2px;
    --border_height: 40px;
    --aside_padding_left: 20px;
    --aside_icon_size: 1.2rem;
    --aside_huge_icon_size: 2.5rem;
    --main_padding_left: 1.5rem;
    --main_card_per_row: 4;
    --main_card_gap: 1.3rem;
    --main_icon_size: 3.5rem;
    --footer_play_size: 2.2rem;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text_color);
}

.wrapper{
    width: 100vw;
    height:calc(100vh - var(--header_height) - var(--footer_height));
}

.d-flex{
    display: flex;
    flex-flow: row nowrap;
}

.d-flex-column{
    display: flex;
    flex-flow: column nowrap;
}

/* /General */

/* Aside */
aside{
    display: flex;
    flex-flow: column nowrap;
    width: var(--aside_width);
    height: calc(100% + var(--header_height));
    background-color: var(--aside_color);
    padding: 15px 0;
    overflow-y: hidden;
}

aside .logo{
    display: block;
    width: 70%;
    padding-bottom: 1.6rem;
    padding-left: var(--aside_padding_left);
}

aside .logo img{
    width: 100%;
    filter: drop-shadow(5px 2px 20px rgb(116, 116, 116));
    transition: all 300ms;
}

aside .logo img:hover{
    transform: scale(1.1);
}
aside .logo img:last-child{
    display: none;
}

aside a{
    text-decoration: none;
    color: var(--text_color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

aside a:hover{
    color: var(--light_text_color);
}

a .border{
    width: var(--border_width);
    background-color: var(--border_color);
    visibility: hidden;
}

a:hover .border{
    visibility: visible;
}

a .left.border{
    height: calc(var(--aside_icon_size) * 1.6);
    margin-right: calc(var(--aside_padding_left) - (var(--border_width) * 3));
}

aside a i{
    font-size: var(--aside_icon_size);
}

aside h3{
    padding-left: var(--aside_padding_left);
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
    color:var(--light_text_color);
}

aside h3 + a{
    padding-bottom: 0.5rem;
}

aside div:not(:last-child) > a:first-of-type i{
    font-size: var(--aside_huge_icon_size);
    margin-bottom: 0.5rem;
    overflow-y: auto;
}

aside div:not(:last-child) > a:first-of-type .border{
    height: calc(var(--aside_huge_icon_size) * 1.1);
}

aside a i:last-child{
    font-size: 0.9rem;
}

aside > div:not(:last-child){
    overflow-y: auto;
    margin-bottom: 2rem;
}

aside > div:last-child{
    display: flex;
    flex-flow: column nowrap;
    margin-top: auto;
    font-size: 0.9rem;
}

aside > div:last-child a:first-of-type i {
    font-size: 0.9rem;
}

aside > div:last-child hr{
    margin: 0.4rem var(--aside_padding_left);
}

/* /Aside */

/* /Header */
header{
    width: calc(100% - var(--aside_width));
    height: var(--header_height);
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--header_color);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header a{
    color: var(--light_text_color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--light_text_color);
    border-radius: 20px;
    margin-right: 2rem;
    transition: all 300ms;
}

header a:hover{
    transform: scale(1.1);
}

/* /Header */

/* Main */
main{
    width: calc(100% - var(--aside_width));
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: var(--header_height);
    background-color: var(--main_color);
    overflow-y: auto;
}

main a{
    color: var(--text_color);
    text-decoration: none;
}

main > div:first-of-type a{
    text-transform: uppercase;
}

main > div:first-child{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

main > div:first-child a{
    padding: 1rem 0;
    position: relative;
}

main > div:first-child a:hover{
    color: var(--light_text_color);
}

.border{
    height: calc(var(--border_height) * 3);
}

.bottom{
    height: var(--border_height);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(90deg) translate(-250%, 0);
}

main h2{
    color: var(--light_text_color);
}

main .margin-element{
    padding: 2.5rem var(--main_padding_left) 0 var(--main_padding_left);
}

main div.margin-element{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    margin-top: 4rem;
}
main .row{
    display: flex;
    flex-flow: row wrap;
    gap: var(--main_card_gap);
    padding-left: var(--main_padding_left);
}

main .row:last-of-type{
    margin-bottom: 3rem;
}

main .card{
    width: calc((100% - ((var(--main_card_per_row) - 1) * var(--main_card_gap)) - (var(--main_padding_left) * 2)) / var(--main_card_per_row));
    margin-top: 2rem;
}

main .card .img-container{
    position: relative;
}

main .card .img-container img{
    width: 100%;
    display: block;
}

main .card i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--main_icon_size);
    color: var(--light_text_color);
    opacity: 0;
    transition: opacity 300ms;
}

main .card .img-container .layer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms;
}

main .card a:hover .img-container i{
    opacity: 1;
}

main .card a:hover .img-container .layer{
    opacity: 0.5;
}

main .card .text-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
    padding-top: 0.7rem;
}

main .card h3{
    color: var(--light_text_color);
}
/* /Main */

/* Footer */

footer{
    width: 100%;
    height: var(--footer_height);
    background-color: var(--footer_color);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

footer > div{
    width: calc(100% / 3.5);
}

footer > div:first-child{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-left: var(--aside_padding_left);
}

footer .img-container{
    width: calc(var(--footer_height) / 1.4);
}

footer .img-container img{
    width: 100%;
    display: block;
    transition: filter 300ms;
}

footer .img-container img:hover{
    filter: blur(1px);
}

footer > div:first-child a{
    color: var(--text_color);
    text-decoration: none;
    text-transform: capitalize;
}

footer > div:first-child a span:hover{
    color: var(--light_text_color);
}

footer > div:first-child a span:hover{
    text-decoration: underline;
}

footer > div:first-child a strong{
    color: var(--light_text_color);
}

footer > div:first-child a strong:hover{
    color: var(--text_color);
    text-decoration: none;
}

footer > div:first-child i:hover{
    color: var(--light_text_color);
}

footer > div > .d-flex-column:last-of-type{
    gap: 0.2rem;
    padding-left: 2%;
}

footer > div i {
    font-size: var(--aside_icon_size);
}

footer div:nth-child(2){
    width:calc(100% - (100% / 3.5));
}

footer div:nth-child(2) .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 0.4rem;
}

footer div:nth-child(2) .icon-container a:nth-child(3) i{
    font-size: var(--footer_play_size);
}

footer div:nth-child(2) .icon-container a i{
    transition: transform 300ms;
}

footer div:nth-child(2) .icon-container a i:hover{
    transform: scale(1.2);
}

footer div:nth-child(2) > .range-container{
    width: 100%;
    color: var(--light_text_color);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

footer > div:last-child{
    display: flex;
    justify-content: flex-end;
    padding-right: var(--aside_padding_left);
}

footer > div:last-child > div{
    gap: 2rem;
}

footer > div:nth-child(2) .icon-container a, footer > div:last-child a{
    color: var(--light_text_color);
}

footer > div:nth-child(2) .icon-container a:hover, footer > div:last-child a:hover{
    color: var(--text_color);
}

input[type="range"]{
    width: 70%;
}

footer .range-container input[type="range"]{
    width: 75%;
}
/* /Footer */



/* Responsive */


@media (width < 500px){
    :root{
        --main_card_per_row: 1;
    }
}

@media (width < 550px){

    footer > div:first-child > div:last-child{
        margin-left: -0.8rem;
    }

    footer > div:nth-child(2) .icon-container{
        gap: 1.4rem;
    }

    footer > div:nth-child(2) .range-container input[type="range"]{
        width:50%;
    }

}

@media (width <= 685px){
    :root{
        --aside_padding_left: 12px;
        --aside_width: calc(var(--aside_padding_left) * 3);
        --aside_icon_size: 1.1rem;
    }

    .mobile-none{
        display: none;
    }

    aside, aside div:last-child{
        gap: 0.4rem;
        padding-top: 5px;
    }

    aside .logo{
        padding-bottom: 0.4rem;
    }

    aside .logo img:first-child{
        display: none;
    }

    aside .logo img:last-child{
        display: block;
        width: 160%;
        transform: translateX(-20%);
    }

    aside .logo img:hover{
        filter: blur(1px);
    }

    aside a{
        justify-content: center;
    }

    footer a{
        font-size: 0.6rem;
    }

    footer > div:first-child i, footer > div:last-child i{
        font-size: 0.9rem;
    }

    footer > div:first-child{
        gap: 2%;
    }

    footer > div:last-child > div{
        gap: 0.2rem;
    }
}

@media ( 500px < width <= 850px){
    :root{
        --main_card_per_row: 2;
    }

    footer > div:nth-child(2) .icon-container{
        gap: 2rem;
    }

    footer > div:nth-child(2) .range-container input[type="range"]{
        width:60%;
    }
}

@media ( 635px < width < 850px){
    footer > div:last-child > div{
        gap: 0.6rem;
    }
}

@media ( 850px < width <= 1100px){
    :root{
        --main_card_per_row: 3;
    }

    footer > div:last-child > div{
        gap: 1.2rem;
    }
}

@media ( 1400px < width <= 1600px){
    :root{
        --main_card_per_row: 5;
    }
}

@media ( width > 1600px){
    :root{
        --main_card_per_row: 6;
    }
}